node_modules
.DS_Store
dist
dist-ssr
*.local
package-lock.json
Predefined.ts
Predefined2.ts
yarn.lock
firefox.js
Predefined3.ts
PredfinedTest.ts
Predefined3StackForDBA.ts
Predefined3StackForDBA1.ts
Predefined3StackForDBA2.ts
DraftPredefined3StackDBA2.ts
```